html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
	margin: 0;
}

body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";	
	min-height: 100vh;
}




img {
	width: 100%;
    height: auto;
    border: 0;
    outline: 0;
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
	font-family: InterUI,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI",Oxygen,Ubuntu,Cantarell,"Open Sans",sans-serif;
	font-weight: 500;
	
}
header {
	overflow: hidden;
	height: 80px;
}

.logo {
  position: absolute;
  top: 17px;
	border: 3px solid #f05e5e;
	left: 50px;
	color: #f05e5e;
	fill: #f05e5e;
}

.logo__link {
	padding: 10px;
	display: block;
	display: none;
}

@media (min-width: 600px) {
	.logo__link {
		display: block;
	}
}

.logo__image {
	/* fill: #e04242; */
}

.page-container {
	margin: 0 auto 0 auto;
}

.page-container--constraint {
	max-width: 1200px;
}

.stage {
	padding-left: 20px;
	padding-right: 20px;
	
}

@media (min-width: 600px) {
	.stage {
		padding-left: 50px;
		padding-right: 50px;
	}
}

.stage__wrap {
	padding: 32px;
	height: calc(100vh - 20px - 80px);
	background-image: linear-gradient(to top, #d02626, #f15f5f);
	color: white;
	/* background-image: linear-gradient(to bottom, #2f6fb1, #2558ae);  */
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	min-height: 300px;
}

@media (min-width: 600px) {
	.stage__wrap {
		text-align: left;
		height: calc(100vh - 50px - 80px);
	}
}


.stage__title {
	/* font-size: 200px; */
	font-size: 21vw;
	margin: 0;
	line-height: 1em;
}
@media (min-width: 700px) {
	.stage__title {
		font-size: 18vh;
	}
}

@media (min-height: 900px) and (min-width: 700px) {
	.stage__title {
		font-size: 140px;
	}
}

.stage__hook {
	font-size: 30px;
	margin: 0 0 20px 6px;
	
}

@media (min-width: 600px) {
	.stage__hook {
		margin-bottom: 0px;
	}
}

.stage__subtitle {
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 0;
	text-align: center;
}

@media (min-width: 600px) {
	.stage__subtitle {
		margin-top: 0;
	}
}


.stage__subtitle--emphasis {
	color: white;
	background: black;
	padding: 10px;
	display: inline-block;
}

.main-nav {
	padding: 0;
	width: 300px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.main-nav__item {
	display: inline-block;
}

.main-nav__link {
	color: black;
	text-decoration: none;
	padding: 10px;
	display: block;
}

.main-nav__link--active {
	border-bottom: 4px solid #e04242;
}

.work {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: -16px;
}

.work__item {
	padding-left: 16px;
	width: 33.33333333%;
	display: inline-block;
	float: left;
}

.work__link {
	border: 10px solid black;
	display: block;
}